<div id="announcement-bar" class="bg-pastel-hard">
  <div id="announcement-bar-content">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'announcement' -%}
        {%- if block.settings.text != blank -%}
          <a
            href="{{ block.settings.link_social }}"
            target="_blank"
            class="announcement-bar-message {{ block.settings.text_alignment }}">
            {{ block.settings.text }}
          </a>
        {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.announcement-bar.name",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "announcement",
        "name": "t:sections.announcement-bar.blocks.announcement.name",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Welcome to our store",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
          }, {
            "type": "url",
            "id": "link_social",
            "label": "Lien réseaux sociaux"
          }
        ]
      }
    ]
  }
{% endschema %}