#container-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 1920px;

  margin: auto;
  padding: 20px 0 20px 0;

  font-family: "Exo", sans-serif;
}

/* #container-product #product-wrapper h2 {
  margin-bottom: 40px;

  font-size: 40px;
  text-transform: lowercase;
} */

#container-product #product-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  width: 95%;
}

#container-product #product-wrapper #contain {
  display: flex;
}

#container-product #contain #leftBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 45%;
}

#contain #leftBox .product-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 100%;
}

#leftBox .product-gallery .thumbnail-images {
  display: flex;
  flex-direction: column;
}

#leftBox .product-gallery .thumbnail {
  height: 75px;
  width: 75px;

  margin: 0 10px 10px 0;

  border: 1.5px solid #d0b7a1;
  cursor: pointer;
  border-radius: 5px;
}

#leftBox .product-gallery .thumbnail.selected-thumbnail {
  border: 2px solid #a16c41;
}

#contain #leftBox .product-gallery .main-image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  aspect-ratio: 1/1;
}

#container-product #leftBox #main-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#container-product #contain #rightBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 50%;
}

#container-product #rightBox h1 {
  font-size: 40px;
  width: 100%;
}

#container-product #rightBox p {
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

#container-product #rightBox form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#cart-quantity {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.quantity-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

#quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  width: 50px;

  padding: 0 5px !important;
  margin: 0 10px;

  font-family: "Exo", sans-serif !important;
  font-size: 14px !important;
  text-transform: lowercase !important;
  border-radius: 50px !important;
  border: 1px solid #d0b7a1 !important;
}

.quantity-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  width: 25px;

  font-family: "Exo", sans-serif !important;
  font-size: 14px !important;
  text-transform: lowercase !important;
  border-radius: 50px !important;
  border: none !important;
  transition: all, 0.1s;
}

#cart-quantity h3 {
  font-size: 25px;
}

@media (max-width: 1350px) {
  #container-product #contain #leftBox {
    width: 40%;
  }

  #contain #leftBox .product-gallery {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }

  #leftBox .product-gallery .thumbnail-images {
    display: flex;
    flex-direction: row;
  }

  #leftBox .product-gallery .thumbnail {
    margin: 10px 10px 0 0;
  }

  #contain #leftBox .product-gallery .main-image {
    width: 95%;
  }

  #container-product #contain #rightBox {
    width: 60%;
  }
}

@media (max-width: 1150px) {
  #container-product #product-wrapper #contain {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #container-product #contain #leftBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #contain #leftBox .product-gallery {
    align-items: center;
  }

  #contain #leftBox .product-gallery .main-image {
    width: 80%;
  }

  #container-product #contain #rightBox {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 700px) {
}

@media (max-width: 500px) {
  #container-product #product-wrapper h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  #leftBox .product-gallery .thumbnail-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #contain #leftBox .product-gallery .main-image {
    width: 100%;
  }

  #container-product #contain #rightBox .product {
    max-width: 100%;
  }

  #container-product #rightBox form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
